#map {
    height: 100%;
    width: 70%;
    position: fixed;
    left: 20%;
    background-color: rgb(64, 64, 64);
    top: 0%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#side1 {
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0%;
    background-color: rgb(64, 64, 64);
    top: 0%;
}

#side2 {
    height: 100%;
    width: 10%;
    position: fixed;
    left: 90%;
    background-color: rgb(64, 64, 64);
    top: 0%;
}

#buttonLabel {
    top: 6%;
    height: 40%;
    width: 18%;
    position: fixed;
    left: 1%;
    background-color: rgb(171, 171, 171);
    border-radius: 5px;
    text-align: center;
    font-family: Arial;
}

.inputButton {
    background-color: #6e6e6e; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.inputText {
    background-color: #6e6e6e; /* Green */
    border: none;
    color: white;
    padding-left: 1%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.inputText::placeholder {
    color:rgba(244, 244, 244, 0.519)
}

.inputText1 {
    top: 14%;
    height: 6%;
    width: 15%;
    left: 2%;
    position: fixed; 
}

.inputNumber1 {
    top: 21%;
    height: 6%;
    width: 15%;
    left: 2%;
    position: fixed; 
}

.inputNumber2 {
    top: 28%;
    height: 6%;
    width: 15%;
    left: 2%;
    position: fixed; 
} 

.inputButton1 {
    top: 36%;
    height: 6%;
    width: 16%;
    left: 2%;
    position: fixed; 
}

.inputButton1:hover {
    background-color: rgb(64, 64, 64); 
    border: 2px solid #6e6e6e;
}
